/* Stylesheet by David J. Waro, Peter Nielsen, Jacob P. Hrubecky */

body {
  height: 1381;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
}

#title {
  font: normal 4.5vw "Audiowide", Verdana, sans-serif;
  color: gray;
  text-align: center;
}

#top {
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  height: 80px;
  display: inline-block;
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #e6b800, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #e6b800, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #e6b800, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #e6b800, white); /* Standard syntax */
  opacity: 0.8;
  border-bottom: solid;
  border-width: thin;
  border-color: black;
  z-index: -1;
}

#mapid {
  height: 650px;
  width: 100%;
  position: absolute;
  bottom:0;
  right: 0;
  top: 141px;
  overflow: hidden;
  display: inline-block;
  z-index: -100;
}

#information-area {
  top: 791px;
  width: 100%;
  height: 990px;
  overflow: visible;
  position: absolute;
  border-top: solid;
  border-width: thin;
  border-color: black;
  color: white;
  background-image: url("dark_fish_skin.png");
}

#information-area h1, h2, h3, p{
  font-family: verdana, sans-serif;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

#information-area h1 {
  font-size: 40px;
}

#information-area h3 {
  font-size: 21px;
}

#information-area p {
  font-size: 14px;
}


#tabBar {
  position: absolute;
  top: 81px;
  left: 0px;
  height: 59px;
  width: 100%;
  border-bottom: solid;
  border-width: thin;
  border-color: black;
  background-image: url("dark_fish_skin.png");
  overflow: visible;
}

#tab1 {
  position: absolute;
  top: 2px;
  left: 0px;
  width: 200px;
  height: 59px;
  text-align: left;
  text-indent: 10px;
  overflow: visible;
}

#tab1-1 {
  position: absolute;
  align-content: left;
  left: 0;
  overflow: visible;
}

#tab2 {
  position: absolute;
  top: 81px;
  left: 201px;
  width: 230px;
  height: 59px;
  border-width: thin;
  border-color: black;
  text-align: left;
  overflow: visible;
}

#tab2-1 {
  position: absolute;
  top: 18px;
  align-content: left;
  left: 32px;
  overflow: visible;
}

#tab3 {
  position: absolute;
  top: 81px;
  left: 431px;
  width: 299px;
  height: 59px;
  border-width: thin;
  border-color: black;
  text-align: center;
  overflow: visible;
}

#tab3-1 {
  position: absolute;
  top: 3px;
  height: 59px;
  width: 250px;
  align-content: left;
  left: 60px;
}

.info {
  width: 90%;
  height: 90%;
  left: 0;
  font-size: 15px;
  background-image: url("dark_fish_skin.png");
  color: white;
  font-family: verdana, sans-serif;
  border: solid;
  border-width: 2px;
  border-color: white;
}

.info:hover {
  background-image: none;
  background-color: gold;
  cursor: pointer;
  color: black;
}

.container {
    overflow: hidden;
    font-family: Verdana, sans-serif;
    top: 10px;
}

.container a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    left: 50px;
    overflow: hidden;
    top: 10px;
    width: auto;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    font-family: verdana, sans-serif;
    top: 5px;
    padding: 14px 16px;
    border: solid;
    border-width: 2px;
    border-color: white;
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: gold;
    cursor: pointer;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-image: url("dark_fish_skin.png");
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    font-family: verdana, sans-serif;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
    align-content: center;
}


#tab4 {
  position: absolute;
  top: 81px;
  left: 751px;
  width: 229px;
  height: 59px;
  border-width: thin;
  border-color: black;
  text-align: center;
}

#tab4-1 {
  position: absolute;
  top: 3px;
  height: 59px;
  align-content: left;
  left: 78px;
}

.help {
  width: 150px;
  height: 90%;
  left: 0;
  color: white;
  font-size: 15px;
  font-family: Verdana, sans-serif;
  background-image: url("dark_fish_skin.png");
  border: solid;
  border-width: 2px;
  border-color: white;
}

.help:hover {
  background-image: none;
  background-color: gold;
  cursor: pointer;
  color:black;
}

#tab5 {
  position: absolute;
  top: 81px;
  left: 980px;
  width: 235px;
  height: 59px;
  text-align: center;
}

#tab5-1 {
  position: absolute;
  top: 3px;
  height: 59px;
  align-content: left;
  left: 100px;
}

.about-us {
  width: 150px;
  height: 90%;
  left: 0;
  font-size: 15px;
  color: white;
  font-family: Verdana, sans-serif;
  background-image: url("dark_fish_skin.png");
  border: solid;
  border-width: 2px;
  border-color: white;
}

.about-us:hover {
  background-image: none;
  background-color: gold;
  cursor: pointer;
  color: black;
}

#about-us-area {
  top: 991px;
  width: 100%;
  height: 480px;
  overflow: visible;
  position: absolute;
  background-image: url("dark_fish_skin.png");
}

.legend-control-container {
  text-align: center;
}

#temporal-legend {
  line-height: 20px;
  padding: 3px;
  text-align: center;
  font-family: Verdana, sans-serif;
  bottom: 1%;
}

#reverseImage {
  height: 100%;
  width: 100%;
}

#forwardImage {
  height: 100%;
  width: 100%;
}

#section-1 {
  position: absolute;
  text-align: left;
  font-family: Verdana, sans-serif;
  width: 100%;
  top: 0;
  height: 39%;
  bottom: 60%;
}

#section-3 {
  position: absolute;
  height: 37%;
  width: 100%;
  top: 50%;
}

#section-4 {
  position: absolute;
  height: 20%;
  width: 100%;
  bottom: 0;
}

#right-pane {
  position: absolute;
  display: inline-block;
  top: 165px;
  width: 300px;
  height: 500px;
  right: 1%;
  border: solid;
  border-width: 2px;
  border-color: black;
  background-image: url("gray_jean.png");
  overflow-y: scroll;
}

.dropdown{
  text-align: center;
}

.search {
  text-align: center;
  margin-left: 40px;
}

.range-slider {
    width: 60%;
    top: 60%;
    left: 19%;
    position: absolute;
}

#forward {
    position: absolute;
    top: 55%;
    right: 2%;
    line-height: 18px;
    border-radius: 5px;
    border: solid black 1px;
    font-size: 15px;
    width: 30px;
}

#reverse {
    position: absolute;
    top: 55%;
    left: 2%;
    line-height: 18px;
    border-radius: 5px;
    border: solid black 1px;
    font-size: 15px;
    width: 30px;
}

.chart {
    position: absolute;
    top: 60px;
    left: 3%;
}

.lines {
    stroke-width: 3.5;
    fill: none;
}

.lines1 {
    stroke-width: 3.5;
    fill: none;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 150px;
  height: 28px;
  padding: 2px;
  font: 14px sans-serif;
  font-weight: bold;
  top: 70px;
  left: 67px;
}


.leaflet-popup-content p {
  margin:  0.2em 0;
}


/* The Modal (background) */
.popup-panel {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.panel-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    font-family: verdana, sans-serif;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.panel-content li {
  text-align: left;
  font-size: 15px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

footer {
  position: absolute;
  font-size: 14px;
  left: 5px;
  bottom: 5px;
}
