/* Stylesheet by David J. Waro, Peter Nielsen, Jacob P. Hrubecky */

body {
  overflow: scroll;
}


#title {
  font: normal 4.5vw "Audiowide", Helvetica, sans-serif;
  color: gray;
  text-align: center;
}

#top {
  width: 100%;
  top: 0;
  left: 0;
  height: 80px;
  position: fixed;
  display: inline-block;
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #e6b800, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #e6b800, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #e6b800, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #e6b800, white); /* Standard syntax */
  opacity: 0.8;
  border-bottom: solid;
  border-width: thin;
  border-color: black;
  z-index: -1;
}

#tabBar {
  position: fixed;
  top: 81px;
  left: 0px;
  height: 59px;
  width: 100%;
  border-bottom: solid;
  border-width: thin;
  border-color: black;
  background-image: url("gray_jean.png");
}

#tab1 {
  position: fixed;
  top: 81px;
  left: 0px;
  width: 220px;
  height: 59px;
  text-align: left;
  text-indent: 10px;
}

#tab1-1 {
  position: absolute;
  top: 18px;
  align-content: left;
  left: 2%;
}

#tab2 {
  position: fixed;
  top: 81px;
  left: 221px;
  width: 299px;
  height: 59px;
  border-right: solid;
  border-width: thin;
  border-color: black;
  text-align: left;
}

#tab2-1 {
  position: absolute;
  top: 10px;
  align-content: left;
  left: 2%;
}

#tab3 {
  position: fixed;
  top: 81px;
  left: 521px;
  width: 299px;
  height: 59px;
  border-right: solid;
  border-width: thin;
  border-color: black;
  text-align: center;
}


#tab4 {
  position: fixed;
  top: 81px;
  left: 821px;
  width: 299px;
  height: 59px;
  border-width: thin;
  border-color: black;
  text-align: center;
}

#mapid {
  height: 600px;
  width: 100%;
  position: fixed;
  bottom:0;
  right: 0;
  top: 141px;
  overflow: hidden;
  display: inline-block;
  z-index: -100;
}

.legend-control-container {
  background-color: rgba(255,255,255,0.8);
  text-align: center;
  border: solid gray 1.5px;
  border-radius: 1em;
}

#information {
  position: fixed;
  display: inline-block;
  width: 50%;
  height: 500px;
  left: 25%;
  top: 700px;
}

#temporal-legend {
  position: absolute;
  left: 6%;
  top: 17%;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

#attribute-legend {
  position: fixed;
  bottom: 15%;
  left: 3%;
  width: 230px;
}

#reverseImage {
  height: 100%;
  width: 100%;
}

#forwardImage {
  height: 100%;
  width: 100%;
}

#section-1 {
  position: absolute;
  text-align: left;
  font-family: Helvetica, sans-serif;
  width: 100%;
  top: 0;
  height: 39%;
  bottom: 60%;
}

#section-3 {
  position: absolute;
  height: 40%;
  width: 100%;
  top: 43%;
}

.legend-circle {
  position: absolute;
  bottom: 23%;
}

#section-4 {
  position: absolute;
  height: 20%;
  width: 100%;
  bottom: 0;
}

#left-pane {
  position: fixed;
  display: inline-block;
  top: 180px;
  width: 300px;
  height: 500px;
  left: 1%;
  border: solid;
  border-width: thin;
  border-color: black;
  background-image: url("gray_jean.png");
  overflow-y: scroll;
}

.dropdown{
  text-align: center;
}

.search {
  text-align: center;
  margin-left: 40px;
}

.range-slider {
    width: 60%;
    top: 60%;
    left: 19%;
    position: absolute;
}

#forward {
    position: absolute;
    top: 55%;
    right: 2%;
    line-height: 18px;
    border-radius: 5px;
    border: solid black 1px;
    font-size: 15px;
    width: 30px;
}

#reverse {
    position: absolute;
    top: 55%;
    left: 2%;
    line-height: 18px;
    border-radius: 5px;
    border: solid black 1px;
    font-size: 15px;
    width: 30px;
}

.chart {
    position: absolute;
    top: 60px;
    left: 3%;
    width: 275px;
}

.lines {
    stroke-width: 2;
    fill: none;
}

.leaflet-popup-content p {
  margin:  0.2em 0;
}
