/* Stylesheet by David J. Waro, Peter Nielsen, Jacob P. Hrubecky */

body {
  background-image: url('dark_fish_skin.png');
  width: 100%;
  height: 100%;
}

#title {
  position: fixed;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  border: 1px;
  stroke: black;
  font: normal 50px/1 "Trebuchet MS", Helvetica, sans-serif;
  color: rgba(255,255,255,1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 4px 4px 6px rgba(0,0,0,0.91) ;
}

#top {
  width: 100em;
  top: 0;
  left: 0;
  height: 80px;
  position: fixed;
  display: inline-block;
  background: blue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #001a66, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #001a66, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #001a66, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #001a66, white); /* Standard syntax */
  opacity: 0.8;
  border: solid;
  border-width: thin;
  border-color: black;
  z-index: -1;
}

#mapid {
  height: 80%;
  width: 60%;
  position: absolute;
  top:19%;
  bottom:0;
  left:20%;
  right:20%;
  overflow: hidden;
  display: inline-block;
  z-index: 1000;
  border-style: solid;
  border-width: medium;
  border-color: black;
}

.legend-control-container {
  background-color: rgba(255,255,255,0.8);
  text-align: center;
  border: solid gray 1.5px;
  border-radius: 1em;
}

#temporal-legend {
  position: absolute;
  left: 6%;
  top: 17%;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

#attribute-legend {
  position: fixed;
  bottom: 15%;
  left: 3%;
}

#reverseImage {
  height: 100%;
  width: 100%;
}

#forwardImage {
  height: 100%;
  width: 100%;
}

#section-1 {
  position: absolute;
  text-align: left;
  font-family: Helvetica, sans-serif;
  left: 11.5%;
  top: 2%;
}

#section-2 {
  position: absolute;
  height: 20%;
  top: 20%;
  width: 100%;
  bottom: 60%;
}

#section-3 {
  position: absolute;
  height: 40%;
  width: 100%;
  bottom: 20%;
}

#section-4 {
  position: absolute;
  height: 20%;
  width: 100%;
  bottom: 0;
}

#left-pane {
  position: fixed;
  display: inline-block;
  top: 19%;
  width: 17%;
  max-height: 500px;
  left: 1.5%;
  right: 81.5%;
  bottom: 5%;
  border: solid;
  border-width: thin;
  border-color: black;
  border-radius: 1em;
  background-image: url("gray_jean.png");
  overflow-y: scroll;
}

.dropdown{
  text-align: center;
}

.search {
  text-align: center;
}

#right-pane {
  position: fixed;
  display: inline-block;
  top: 19%;
  width: 17%;
  height: 76%;
  left: 81.5%;
  right: 1.5%;
  bottom: 5%;
  border: solid;
  border-width: thin;
  border-color: black;
  border-radius: 1em;
  background-image: url("gray_jean.png");
}

.range-slider {
    width: 60%;
    top: 60%;
    left: 19%;
    position: absolute;
}

#forward {
    position: absolute;
    top: 55%;
    right: 2%;
    line-height: 18px;
    border-radius: 5px;
    border: solid black 1px;
    font-size: 15px;
    width: 30px;
}

#reverse {
    position: absolute;
    top: 55%;
    left: 2%;
    line-height: 18px;
    border-radius: 5px;
    border: solid black 1px;
    font-size: 15px;
    width: 30px;
}

.chart {
    border: medium solid #999;
    fill: medium solid #999;
    position: absolute;
    top: 30px;
    left: 4%;
}

.chart {
    border: medium solid #999;
    fill: medium solid #999;
    display: block;
    margin: auto;
}

.lines {
    stroke-width: 2;
    fill: none;
}

.leaflet-popup-content p {
  margin:  0.2em 0;
}
